@import url('./reset.scss');
@import url('./themes/light.scss');
@import url('./themes/dark.scss');

.app {
    text-align: center;
    font: var(--font-m);
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--primary-color);
    overflow-x: hidden;

    --z-index-text: 999;
    --z-index-navbar: 999;
    --z-index-description: 998;
}