.Text {
    font: var(--font-l);
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}


h4 {
    font-size: 24px;
}

h3 {
    font-size: 36px;

    @media screen and (max-width: 1024px ) {
        font-size: 18px;
    }
}

h2 {
    font-size: 48px;
    
    @media screen and (max-width: 1024px ) {
        font-size: 24px;
    }
}

h1 {
    font-size: 72px;

     @media screen and (max-width: 1024px ) {
        font-size: 36px;
    }
}


.white {
    color: var(--text-color-white);
}

.outline {
    color: var(--primary-color);
}


.weight_700 {
    font-weight: 700;
}

.weight_500 {
    font-weight: 500;
}

.weight_300 {
    font-weight: 300;
}