.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}


.size_s {
    .title {
        font: var(--font-m);
    }
    .text {
        font: var(--font-s);
    }
    .weight_700 {
        font-weight: 700;
    }
    
    .weight_500 {
        font-weight: 500;
    }
    
    .weight_300 {
        font-weight: 300;
    }
}

.size_m {
    .title {
        font: var(--font-l);
    }
    .text {
        font: var(--font-m);
    }
    .weight_700 {
        font-weight: 700;
    }
    
    .weight_500 {
        font-weight: 500;
    }
    
    .weight_300 {
        font-weight: 300;
    }
}

.size_l {
    .title {
        font: var(--font-xl);
        font-weight: 500;
    }
    .text {
        font: var(--font-l);
    }
    .weight_700 {
        font-weight: 700;
    }
    
    .weight_500 {
        font-weight: 500;
    }
    
    .weight_300 {
        font-weight: 300;
    }
}

.size_xl {
    .title {
        font: var(--font-xxl);
    }
    .text {
        font: var(--font-xl);
    }
    .weight_700 {
        font-weight: 700;
    }
    
    .weight_500 {
        font-weight: 500;
    }
    
    .weight_300 {
        font-weight: 300;
    }
}

    .white {
            color: var(--text-color-white);
    }

    .outline {
            color: var(--primary-color);
    }

