.outline {
    background-color: #7545C3;
    color: white;
    font-weight: 300;
    padding: 10px 50px;
    transition: all 0.2s;

    &:hover {
        background-color: var(--hover-color);
    }
}

.clear {
    background: none;
    outline: none;
    cursor: pointer;
    color: var(--primary-color);
    transition: all 0.2s;

    &:hover {
        color: #7545C3;
    }
}

.clear_outline {
    background: none;
    outline: none;
    cursor: pointer;
    color: var(--text-color-white);
    transition: all 0.2s;

    &:hover {
        opacity: 0.5;
    }
}
