.Button {
    cursor: pointer;
}

.outline_white {
    color: var(--text-color-white);
    background: none;
    outline: none;
    border: none;
    transition: all 0.2s;
    
    &:hover {
        color: #7545C3;
    }
}

.outline {
    color: var(--primary-color);
    background: none;
    outline: none;
    border: none;
    transition: all 0.2s;
    
    &:hover {
        color: #7545C3;
    }
}

.size_s {
    width: 40px;
    height: 25px;
}

.size_m {
    width: 120px;
    height: 40px;
}

.size_l {
    width: 180px;
    height: 40px;
}
