.ProjectsBlock {
    padding: 50px 75px;
    width: 100%;

    &:hover {
        .hashtag {
            color: var(--hover-color);
            user-select: none; 
        }
    }

    @media (max-width: 960px ) {
        padding: 20px 30px;
    }     
}

.hashtag {
    transition: all 0.2s;
    color: transparent;
    user-select: none; 
}