.ProjectsBlock {
    padding: 50px;

    &:hover {
        .hashtag {
            color: var(--hover-color);
            user-select: none; 
        }
    }
}

.hashtag {
    transition: all 0.2s;
    color: transparent;
    user-select: none; 
}