.SkillsBlock {
    position: relative;
    z-index: var(--z-index-text);
    padding: 50px 150px;
    background-color: var(--skills-bg-color);
    width: 100%;

    &:hover {
        .hashtag {
            color: var(--hover-color);
            user-select: none; 
        }
    }

    @media screen and (max-width: 1024px) {
        width: 100%;
        padding: 50px;
    }

    @media (max-width: 700px ) {
        padding: 20px 30px;
    }  
}

.hashtag {
    transition: all 0.2s;
    color: transparent;
    user-select: none; 
}