.ProjectCard {
    position: relative;
}

.containerImg {
    box-shadow: var(--shadow-projectCard-color) 0 0 350px 20px;
    max-height: 90%;
}

.contentCard {
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 500;
    max-width: 600px;
}