.List {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 50vw;
  min-height: 50px;
  font: var(--font-l);
  user-select: none;
  cursor: pointer;
}

.List h4 {
  font-weight: 300;
}

.headingActive {
  background-color: #0066FF33;
}

.heading {
  list-style-type: decimal;
}

.content {
  font-weight: 300;
}