.app_dark_theme {
    --bg-color: #000000;
    --inverted-bg-color: #ffffff;

    --primary-color: #ffffff; 
    --text-color-white: #ffffff;

    --hover-color: rgb(112, 22, 255);

    --shadow-projectCard-color: rgba(93, 2, 239, 0.83);

    --skills-bg-color: #00011B;
    --skills-active-bg-color: #0066FF33;
}