.app_light_theme {
    --bg-color: #ffffff;
    --inverted-bg-color: #000000;

    --primary-color: #000000;
    --text-color-white: #ffffff;

    --hover-color: rgb(112, 22, 255);
    
    --shadow-projectCard-color: #00000080;

    --skills-bg-color: #F4F4F4;
    --skills-active-bg-color: #0011A90D;

}

