.ContactsBlock {
    width: 100%;
    position: relative;
    z-index: var(--z-index-text);
    padding: 50px 0;
    background-color: var(--skills-bg-color);

    &:hover {
        .hashtag {
            color: var(--hover-color);
            user-select: none; 
        }
    }
}

.hashtag {
    transition: all 0.2s;
    color: transparent;
    user-select: none; 
}

.btnWrapper {
    @media (max-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
    };
}