.Icon {
    color: #ffffff;
    fill: #ffffff;
    cursor: pointer;
    transition: ease 0.2s;
}

.Icon:hover {
    color: #7545C3;
    fill: #7545C3;
}

.size_m {
    width: 40px;
    height: 40px;
}
