.white {
    stroke: var(--text-color-white);
    fill: var(--text-color-white);
    transition: 0.2s all;
    
    &:hover {
        fill: #7545C3;
    }
}

.outline {
    stroke: var(--text-color-white);
    fill: var(--text-color-white);
    transition: 0.2s all;

    &:hover {
        stroke: #7545C3;
        fill: #7545C3;
    }
}

.size_s {
    width: 15px;
    height: 25px;
}

.size_m {
    width: 25px;
    height: 25px;
}

.size_l {
    width: 40px;
    height: 40px;
}
