.Icon {
    cursor: pointer;
    color: var(--primary-color);
    fill: var(--primary-color);
    transition: ease 0.2s;
}

.Icon:hover {
    fill: #7545C3;
}

.size_m {
    width: 40px;
    height: 40px;
}