.DescriptionPhotoBlock {
    position: relative;
    z-index: var(--z-index-description);
}

.photo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    user-select: none;
    filter: brightness(0.5);
}

.description {
    position: absolute;
    z-index: var(--z-index-description);
    padding: 30px 70px;

    @media screen and (max-width: 1300px) {
        padding: 0;
        padding-left: 20px;
    }

    @media screen and (max-width: 650px) {
        top: 27%;
    }
}
