.DescriptionPhotoBlock {
    position: relative;
    z-index: var(--z-index-description);
}

.photo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    user-select: none;
    filter: brightness(0.5);
}

.description {
    position: absolute;
    z-index: 50;
    padding: 30px 70px;

    @media screen and (max-width: 700px ) {
        padding-left: 10px;
    }
}