.DescriptionPhotoBlock {
    position: relative;
    z-index: 9;
}

.photo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    user-select: none;
    filter: brightness(0.5);
}

.description {
    position: absolute;
    z-index: 100;
    padding: 100px;
}