.EducationBlock {
    position: relative;
    color: var(--primary-color);
    z-index: var(--z-index-text);
    padding: 0 150px;

    &:hover {
        .hashtag {
            color: var(--hover-color);
            user-select: none; 
        }
    }
}

.hashtag {
    transition: all 0.2s;
    color: transparent;
    user-select: none; 
}

.imgWrapper {
    overflow-x: auto;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
}
