.ProjectCard {
    position: relative;
    padding-left: 200px;
}

.btn {
    position: absolute;
    left: 250px;
    top: 266px;
}

.ProjectRightCard {
    position: relative;
    padding-right: 200px;
}

.rightBtn {
    position: absolute;
    left: 520px;
    top: 266px;   
}

.image {
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0px 0px 60px 40px var(--shadow-projectCard-color);
    filter: brightness(0.5);
}